{% use "bootstrap_4_layout.html.twig" %}

{% block text_label %}
    <p>Mon label personnalisé pour {{ name }}</p>
    {{- block('form_label') -}}
{% endblock %}

{% block user_row %}
    <p>{{ form.vars.id }}</p>
    <p>{{ form.email.vars.id }}</p>
{% endblock %}
