{% autoescape false %}
<h1>{{ 'app.user.registration.confirmation_mail.hi' | trans }}</h1>

<p>
    {{ 'app.user.registration.confirmation_mail.body' | trans({
        '%url%': signedUrl,
        '%expires%': expiresAt|date('g')
    }) }}
</p>

<p>
    {{ 'app.user.registration.confirmation_mail.cheers' | trans }}
</p>
{% endautoescape %}
