{% extends 'base.html.twig' %}

{% block title %}
Nouveau post
{% endblock %}

{% block body %}
<h1>Nouveau post</h1>

    {{ include('form/_post_type.html.twig', {
        post_form: create_form,
        submit_label: 'Publier'
    }) }}
{% endblock %}

