{% extends 'base.html.twig' %}

{% block title %}
Nouveau post
{% endblock %}

{% block body %}
<h1>Nouveau post</h1>

    {{ form_start(create_form) }}

    {{ form_widget(create_form) }}

    <button>Publier</button>
    {{ form_end(create_form) }}

{% endblock %}

