{% extends 'base.html.twig' %}

{% block title %}Derniers articles{% endblock %}

{% block body %}
    <h1>{{ 'Derniers articles' | upper }}</h1>
    <a href="{{ path('app_portal_post_create') }}">Nouveau</a>
    <ul>
        {% for post in posts %}
        <li><a href="{{ path('app_portal_post_show', {id: post.id}) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}