{% extends 'base.html.twig' %}

{% block title %}Derniers articles{% endblock %}

{% block body %}
    <h1>{{ 'Derniers articles' | upper }}</h1>
    {% if is_granted('ROLE_AUTHOR') %}
        <a href="{{ path('app_portal_post_create') }}">Nouveau</a>
    {% endif %}
    <ul>
        {% for post in posts %}
        <li class="{% if loop.index is odd -%} odd {%- endif  %}"><a href="{{ path('app_portal_post_show', {id: post.id}) }}">{{ post.title }}</a></li>
        {% else %}
            <li>Aucun post actuellement</li>
        {% endfor %}
    </ul>
{% endblock %}