{% extends 'base.html.twig' %}

{% block title %}Derniers articles{% endblock %}

{% block body %}
    <h1>{{ 'Derniers articles' | upper }}</h1>

    <ul>
        {% for post in posts %}
        <li>{{ post.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}