{% extends 'base.html.twig' %}

{% block title %}
    Édition de {{ post.title }}
{% endblock %}

{% block body %}
    <h1>Édition de {{ post.title }}</h1>

    {{ include('form/_post_type.html.twig', {
        post_form: edit_form,
        submit_label: 'Mettre à jour'
    }) }}
{% endblock %}
